<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>ISIS - NYU x Oxford</title>
</head>

<body class="home-body">
  <nav class="bg-gray-100 flex justify-center" style="opacity:.8">
    <img src="images/isi.jpg" style="padding:20px;">
  </nav>

  <div class="flex justify-center mt-16">
    <form action="/charge" method="POST" class="flex flex-col w-96 xl:w-auto m-5 bg-gray-500 p-5 rounded shadow-md bg-opacity-70 font-sans mb-20">
      <p class="mainer-text">
        By filling out this form, we will match you with the perfect Pen Pal from across the pond
        all <b>for just &#163;3!</b>
      </p>
      <input class="shadow-md bg-gray-100 rounded border-gray-200 border-solid border-2 p-2 h-10 mb-4" type="text" name="name" placeholder="Name" required>
      <input type="email" class="shadow-inner bg-gray-100 rounded border-gray-200 border-solid border-2 p-2 h-10 mb-4" name="email" placeholder="Email" required>
      <input type="number" class="shadow-md bg-gray-100 rounded border-gray-200 border-solid border-2 p-2 h-10 mb-4" name="age" placeholder="Age" min="16" max="100" required>
      <input type="text" class="shadow-md bg-gray-100 rounded border-gray-200 border-solid border-2 p-2 h-10 mb-4" name="pronouns" placeholder="Pronouns">
      
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Please select your University:</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="oxford" type="radio" name="university" class="" required  value="oxford" />
          <label for="oxford" class="flex items-center cursor-pointer text-l">
           
           University of Oxford</label>
         </div>
        <div class="flex items-center mr-4 mb-4">
          <input id="nyu" type="radio" name="university" class="" required  value="nyu"/>
          <label for="nyu" class="flex items-center cursor-pointer text-l">
           
           New York University</label>
         </div>
        </div>  

        <input class="shadow-md bg-gray-100 rounded border-gray-200 border-solid border-2 p-2 h-10 mb-4" type="text" name="course" placeholder="Course" required>

        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >I want to match with someone who is: </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID7A1" type="radio" name="QID7" class="" required  value="QID7A1"/>
          <label for="QID7A1" class="flex items-center cursor-pointer text-l">
            
            Male 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID7A2" type="radio" name="QID7" class="" required  value="QID7A2"  />
          <label for="QID7A2" class="flex items-center cursor-pointer text-l">
            
            Female 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID7A3" type="radio" name="QID7" class="" required  value="QID7A3" />
          <label for="QID7A3" class="flex items-center cursor-pointer text-l">
            
            Non-binary 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID7A4" type="radio" name="QID7" class="" required  value="QID7A4"/>
          <label for="QID7A4" class="flex items-center cursor-pointer text-l">
            
            Any gender
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What are you looking for with this Match </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID8A1" type="radio" name="QID8" class="" required  value="QID8A1" />
          <label for="QID8A1" class="flex items-center cursor-pointer text-l">
            
            Writing buddy  
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID8A2" type="radio" name="QID8" class="" required  value="QID8A2" />
          <label for="QID8A2" class="flex items-center cursor-pointer text-l">
            
            Friend
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID8A3" type="radio" name="QID8" class="" required  value="QID8A3" />
          <label for="QID8A3" class="flex items-center cursor-pointer text-l">
            
            Soulmate
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID8A4" type="radio" name="QID8" class="" required  value="QID8A4" />
          <label for="QID8A4" class="flex items-center cursor-pointer text-l">
            
            All of the above 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What are your political beliefs? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID9A1" type="radio" name="QID9" class="" required  value="QID9A1" />
          <label for="QID9A1" class="flex items-center cursor-pointer text-l">
            
            Very left wing
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID9A2" type="radio" name="QID9" class="" required  value="QID9A2" />
          <label for="QID9A2" class="flex items-center cursor-pointer text-l">
            
            Left wing 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID9A3" type="radio" name="QID9" class="" required  value="QID9A3" />
          <label for="QID9A3" class="flex items-center cursor-pointer text-l">
            
            Centre
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID9A4" type="radio" name="QID9" class="" required  value="QID9A4" />
          <label for="QID9A4" class="flex items-center cursor-pointer text-l">
            
            Conservative 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID9A5" type="radio" name="QID9" class="" required  value="QID9A5" />
          <label for="QID9A5" class="flex items-center cursor-pointer text-l">
            
            Very conservative 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID9A6" type="radio" name="QID9" class="" required  value="QID9A6" />
          <label for="QID9A6" class="flex items-center cursor-pointer text-l">
            
            Not political 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What time of day does writing inspiration/motivation hit? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID14A1" type="radio" name="QID14" class="" required  value="QID14A1" />
          <label for="QID14A1" class="flex items-center cursor-pointer text-l">
            
            Early in the morning on my run 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID14A2" type="radio" name="QID14" class="" required  value="QID14A2" />
          <label for="QID14A2" class="flex items-center cursor-pointer text-l">
            
            When I’m in the shower 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID14A3" type="radio" name="QID14" class="" required  value="QID14A3" />
          <label for="QID14A3" class="flex items-center cursor-pointer text-l">
            
            Around lunch
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID14A4" type="radio" name="QID14" class="" required  value="QID14A4" />
          <label for="QID14A4" class="flex items-center cursor-pointer text-l">
            
            Midnight
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID14A5" type="radio" name="QID14" class="" required  value="QID14A5" />
          <label for="QID14A5" class="flex items-center cursor-pointer text-l">
            
            Whenever the muses happen to strike
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose an album</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID16A1" type="radio" name="QID16" class="" required  value="QID16A1" />
          <label for="QID16A1" class="flex items-center cursor-pointer text-l">
            
            ’AM’ - Arctic Monkeys
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID16A2" type="radio" name="QID16" class="" required  value="QID16A2" />
          <label for="QID16A2" class="flex items-center cursor-pointer text-l">
            
            ’The Most Beautiful Moments of Youth Pt.1’ - BTS
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID16A3" type="radio" name="QID16" class="" required  value="QID16A3" />
          <label for="QID16A3" class="flex items-center cursor-pointer text-l">
            
            ’Channel Orange’ - Frank Ocean 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID16A4" type="radio" name="QID16" class="" required  value="QID16A4" />
          <label for="QID16A4" class="flex items-center cursor-pointer text-l">
            
            ’Lemonade’ - ’Beyonc&#233;’
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID16A5" type="radio" name="QID16" class="" required  value="QID16A5" />
          <label for="QID16A5" class="flex items-center cursor-pointer text-l">
            
            ’Folklore’ - Taylor Swift
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose your dystopian Novel </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID17A1" type="radio" name="QID17" class="" required  value="QID17A1" />
          <label for="QID17A1" class="flex items-center cursor-pointer text-l">
            
            The Handmaid’s Tale
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID17A2" type="radio" name="QID17" class="" required  value="QID17A2" />
          <label for="QID17A2" class="flex items-center cursor-pointer text-l">
            
            Nineteen Eighty-Four
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID17A3" type="radio" name="QID17" class="" required  value="QID17A3" />
          <label for="QID17A3" class="flex items-center cursor-pointer text-l">
            
            A Clockwork Orange
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID17A4" type="radio" name="QID17" class="" required  value="QID17A4" />
          <label for="QID17A4" class="flex items-center cursor-pointer text-l">
            
            Never Let Me Go 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID17A5" type="radio" name="QID17" class="" required  value="QID17A5" />
          <label for="QID17A5" class="flex items-center cursor-pointer text-l">
            
            Divergent
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose a film </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID18A1" type="radio" name="QID18" class="" required  value="QID18A1" />
          <label for="QID18A1" class="flex items-center cursor-pointer text-l">
            
            Moonlight 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID18A2" type="radio" name="QID18" class="" required  value="QID18A2" />
          <label for="QID18A2" class="flex items-center cursor-pointer text-l">
            
            Parasite 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID18A3" type="radio" name="QID18" class="" required  value="QID18A3" />
          <label for="QID18A3" class="flex items-center cursor-pointer text-l">
            
            Mad Max: Fury Road
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID18A4" type="radio" name="QID18" class="" required  value="QID18A4" />
          <label for="QID18A4" class="flex items-center cursor-pointer text-l">
            
            The Godfather 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID18A5" type="radio" name="QID18" class="" required  value="QID18A5" />
          <label for="QID18A5" class="flex items-center cursor-pointer text-l">
            
            Mean Girls 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Which one would you throw in an open fire? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID19A1" type="radio" name="QID19" class="" required  value="QID19A1" />
          <label for="QID19A1" class="flex items-center cursor-pointer text-l">
            
            Ulysses 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID19A2" type="radio" name="QID19" class="" required  value="QID19A2" />
          <label for="QID19A2" class="flex items-center cursor-pointer text-l">
            
            Moby Dick 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID19A3" type="radio" name="QID19" class="" required  value="QID19A3" />
          <label for="QID19A3" class="flex items-center cursor-pointer text-l">
            
            Anna Karenina 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID19A4" type="radio" name="QID19" class="" required  value="QID19A4" />
          <label for="QID19A4" class="flex items-center cursor-pointer text-l">
            
            Great Expectations 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID19A5" type="radio" name="QID19" class="" required  value="QID19A5" />
          <label for="QID19A5" class="flex items-center cursor-pointer text-l">
            
            Twilight 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Rank the Catcher in the Rye on a scale from 1 - 10 (1 being it’s SHIT, 10 being my favourite book) </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A1" type="radio" name="QID20" class="" required  value="QID20A1" />
          <label for="QID20A1" class="flex items-center cursor-pointer text-l">
            
            1
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A2" type="radio" name="QID20" class="" required  value="QID20A2" />
          <label for="QID20A2" class="flex items-center cursor-pointer text-l">
            
            2
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A3" type="radio" name="QID20" class="" required  value="QID20A3" />
          <label for="QID20A3" class="flex items-center cursor-pointer text-l">
            
            3
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A4" type="radio" name="QID20" class="" required  value="QID20A4" />
          <label for="QID20A4" class="flex items-center cursor-pointer text-l">
            
            4
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A5" type="radio" name="QID20" class="" required  value="QID20A5" />
          <label for="QID20A5" class="flex items-center cursor-pointer text-l">
            
            5
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A6" type="radio" name="QID20" class="" required  value="QID20A6" />
          <label for="QID20A6" class="flex items-center cursor-pointer text-l">
            
            6
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A7" type="radio" name="QID20" class="" required  value="QID20A7" />
          <label for="QID20A7" class="flex items-center cursor-pointer text-l">
            
            7
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A8" type="radio" name="QID20" class="" required  value="QID20A8" />
          <label for="QID20A8" class="flex items-center cursor-pointer text-l">
            
            8
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A9" type="radio" name="QID20" class="" required  value="QID20A9" />
          <label for="QID20A9" class="flex items-center cursor-pointer text-l">
            
            9
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A10" type="radio" name="QID20" class="" required  value="QID20A10" />
          <label for="QID20A10" class="flex items-center cursor-pointer text-l">
            
            10
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID20A11" type="radio" name="QID20" class="" required  value="QID20A11" />
          <label for="QID20A11" class="flex items-center cursor-pointer text-l">
            
            I haven’t read it  
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What language would you love to learn? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID21A1" type="radio" name="QID21" class="" required  value="QID21A1" />
          <label for="QID21A1" class="flex items-center cursor-pointer text-l">
            
            Nepalese 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID21A2" type="radio" name="QID21" class="" required  value="QID21A2" />
          <label for="QID21A2" class="flex items-center cursor-pointer text-l">
            
            Russian 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID21A3" type="radio" name="QID21" class="" required  value="QID21A3" />
          <label for="QID21A3" class="flex items-center cursor-pointer text-l">
            
            Italian 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID21A4" type="radio" name="QID21" class="" required  value="QID21A4" />
          <label for="QID21A4" class="flex items-center cursor-pointer text-l">
            
            Cantonese 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID21A5" type="radio" name="QID21" class="" required  value="QID21A5" />
          <label for="QID21A5" class="flex items-center cursor-pointer text-l">
            
            German 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What would be your ideal holiday? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID22A1" type="radio" name="QID22" class="" required  value="QID22A1" />
          <label for="QID22A1" class="flex items-center cursor-pointer text-l">
            
            Climbing Mt Fuji 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID22A2" type="radio" name="QID22" class="" required  value="QID22A2" />
          <label for="QID22A2" class="flex items-center cursor-pointer text-l">
            
            Renting out a little cottage in rustic England like Kate Winslet  in ’The Holiday’
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID22A3" type="radio" name="QID22" class="" required  value="QID22A3" />
          <label for="QID22A3" class="flex items-center cursor-pointer text-l">
            
            FLORENCE, VENICE, ROME!!!
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID22A4" type="radio" name="QID22" class="" required  value="QID22A4" />
          <label for="QID22A4" class="flex items-center cursor-pointer text-l">
            
            The Sound of Music tour in Salzburg
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID22A5" type="radio" name="QID22" class="" required  value="QID22A5" />
          <label for="QID22A5" class="flex items-center cursor-pointer text-l">
            
            Reading all day at the beach. 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose your favourite Poet?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID23A1" type="radio" name="QID23" class="" required  value="QID23A1" />
          <label for="QID23A1" class="flex items-center cursor-pointer text-l">
            
            Ocean Vuong 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID23A2" type="radio" name="QID23" class="" required  value="QID23A2" />
          <label for="QID23A2" class="flex items-center cursor-pointer text-l">
            
            Walt Whitman 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID23A3" type="radio" name="QID23" class="" required  value="QID23A3" />
          <label for="QID23A3" class="flex items-center cursor-pointer text-l">
            
            Emily Dickinson 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID23A4" type="radio" name="QID23" class="" required  value="QID23A4" />
          <label for="QID23A4" class="flex items-center cursor-pointer text-l">
            
            Phillip Larkin 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID23A5" type="radio" name="QID23" class="" required  value="QID23A5" />
          <label for="QID23A5" class="flex items-center cursor-pointer text-l">
            
            Frank O’hara
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose a Sport? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID24A1" type="radio" name="QID24" class="" required  value="QID24A1" />
          <label for="QID24A1" class="flex items-center cursor-pointer text-l">
            
            Badminton 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID24A2" type="radio" name="QID24" class="" required  value="QID24A2" />
          <label for="QID24A2" class="flex items-center cursor-pointer text-l">
            
            Swimming 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID24A3" type="radio" name="QID24" class="" required  value="QID24A3" />
          <label for="QID24A3" class="flex items-center cursor-pointer text-l">
            
            Figure Skating 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID24A4" type="radio" name="QID24" class="" required  value="QID24A4" />
          <label for="QID24A4" class="flex items-center cursor-pointer text-l">
            
            Football (*rolling eye emoji*) 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID24A5" type="radio" name="QID24" class="" required  value="QID24A5" />
          <label for="QID24A5" class="flex items-center cursor-pointer text-l">
            
            The fuck is sports
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose a Romantic Poet you would snog? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID25A1" type="radio" name="QID25" class="" required  value="QID25A1" />
          <label for="QID25A1" class="flex items-center cursor-pointer text-l">
            
            Keats
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID25A2" type="radio" name="QID25" class="" required  value="QID25A2" />
          <label for="QID25A2" class="flex items-center cursor-pointer text-l">
            
            Blake 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID25A3" type="radio" name="QID25" class="" required  value="QID25A3" />
          <label for="QID25A3" class="flex items-center cursor-pointer text-l">
            
            Byron 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID25A4" type="radio" name="QID25" class="" required  value="QID25A4" />
          <label for="QID25A4" class="flex items-center cursor-pointer text-l">
            
            Coleridge 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID25A5" type="radio" name="QID25" class="" required  value="QID25A5" />
          <label for="QID25A5" class="flex items-center cursor-pointer text-l">
            
            None cus they’re gross
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Which of these themed parties appeals to you most? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID26A1" type="radio" name="QID26" class="" required  value="QID26A1" />
          <label for="QID26A1" class="flex items-center cursor-pointer text-l">
            
            Tarantino themed 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID26A2" type="radio" name="QID26" class="" required  value="QID26A2" />
          <label for="QID26A2" class="flex items-center cursor-pointer text-l">
            
            Brexit memes and Rugby Tees 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID26A3" type="radio" name="QID26" class="" required  value="QID26A3" />
          <label for="QID26A3" class="flex items-center cursor-pointer text-l">
            
            Feminist Icons 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID26A4" type="radio" name="QID26" class="" required  value="QID26A4" />
          <label for="QID26A4" class="flex items-center cursor-pointer text-l">
            
            Britney Spears 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID26A5" type="radio" name="QID26" class="" required  value="QID26A5" />
          <label for="QID26A5" class="flex items-center cursor-pointer text-l">
            
            Milk and Honey
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Do you watch Gilmore Girls </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID27A1" type="radio" name="QID27" class="" required  value="QID27A1" />
          <label for="QID27A1" class="flex items-center cursor-pointer text-l">
            
            Yes
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID27A2" type="radio" name="QID27" class="" required  value="QID27A2" />
          <label for="QID27A2" class="flex items-center cursor-pointer text-l">
            
            No 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Which Austen Heroine do you most relate to?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID28A1" type="radio" name="QID28" class="" required  value="QID28A1" />
          <label for="QID28A1" class="flex items-center cursor-pointer text-l">
            
            Lizi Bennett
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID28A2" type="radio" name="QID28" class="" required  value="QID28A2" />
          <label for="QID28A2" class="flex items-center cursor-pointer text-l">
            
            Emma Woodhouse 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID28A3" type="radio" name="QID28" class="" required  value="QID28A3" />
          <label for="QID28A3" class="flex items-center cursor-pointer text-l">
            
            Marianne Dashwood
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID28A4" type="radio" name="QID28" class="" required  value="QID28A4" />
          <label for="QID28A4" class="flex items-center cursor-pointer text-l">
            
            Anne Elliot 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID28A5" type="radio" name="QID28" class="" required  value="QID28A5" />
          <label for="QID28A5" class="flex items-center cursor-pointer text-l">
            
            I don’t know what you’re on about
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose your Girl Group? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID30A1" type="radio" name="QID30" class="" required  value="QID30A1" />
          <label for="QID30A1" class="flex items-center cursor-pointer text-l">
            
            Girl’s Generation
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID30A2" type="radio" name="QID30" class="" required  value="QID30A2" />
          <label for="QID30A2" class="flex items-center cursor-pointer text-l">
            
            Spice Girls
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID30A3" type="radio" name="QID30" class="" required  value="QID30A3" />
          <label for="QID30A3" class="flex items-center cursor-pointer text-l">
            
            The Saturdays 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID30A4" type="radio" name="QID30" class="" required  value="QID30A4" />
          <label for="QID30A4" class="flex items-center cursor-pointer text-l">
            
            Blackpink 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID30A5" type="radio" name="QID30" class="" required  value="QID30A5" />
          <label for="QID30A5" class="flex items-center cursor-pointer text-l">
            
            The Supremes
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose your Boy Band? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID31A1" type="radio" name="QID31" class="" required  value="QID31A1" />
          <label for="QID31A1" class="flex items-center cursor-pointer text-l">
            
            One Direction
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID31A2" type="radio" name="QID31" class="" required  value="QID31A2" />
          <label for="QID31A2" class="flex items-center cursor-pointer text-l">
            
            *NSync
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID31A3" type="radio" name="QID31" class="" required  value="QID31A3" />
          <label for="QID31A3" class="flex items-center cursor-pointer text-l">
            
            BTS 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID31A4" type="radio" name="QID31" class="" required  value="QID31A4" />
          <label for="QID31A4" class="flex items-center cursor-pointer text-l">
            
            The Beatles
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID31A5" type="radio" name="QID31" class="" required  value="QID31A5" />
          <label for="QID31A5" class="flex items-center cursor-pointer text-l">
            
            Super Junior 
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What would you like to show your match about Oxford/ what would you most like to see about Oxford?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID32A1" type="radio" name="QID32" class="" required  value="QID32A1" />
          <label for="QID32A1" class="flex items-center cursor-pointer text-l">
            
            The different colleges 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID32A2" type="radio" name="QID32" class="" required  value="QID32A2" />
          <label for="QID32A2" class="flex items-center cursor-pointer text-l">
            
            Port Meadow at sunrise with all of the horses 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID32A3" type="radio" name="QID32" class="" required  value="QID32A3" />
          <label for="QID32A3" class="flex items-center cursor-pointer text-l">
            
            Inside of the Radcliffe Camera and the intense students 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID32A4" type="radio" name="QID32" class="" required  value="QID32A4" />
          <label for="QID32A4" class="flex items-center cursor-pointer text-l">
            
            Cowley Road 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID32A5" type="radio" name="QID32" class="" required  value="QID32A5" />
          <label for="QID32A5" class="flex items-center cursor-pointer text-l">
            
            Park End
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What would you like to show your match about New York/ what would you most like to see about New York?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID33A1" type="radio" name="QID33" class="" required  value="QID33A1" />
          <label for="QID33A1" class="flex items-center cursor-pointer text-l">
            
            Famous Fat Dave"s Food Tours 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID33A2" type="radio" name="QID33" class="" required  value="QID33A2" />
          <label for="QID33A2" class="flex items-center cursor-pointer text-l">
            
            Visit the Empire State Building (bit touristy but some of us never been)
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID33A3" type="radio" name="QID33" class="" required  value="QID33A3" />
          <label for="QID33A3" class="flex items-center cursor-pointer text-l">
            
            A Broadway show (a little pricey)
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID33A4" type="radio" name="QID33" class="" required  value="QID33A4" />
          <label for="QID33A4" class="flex items-center cursor-pointer text-l">
            
            Visit all the places in Sex and the City 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID33A5" type="radio" name="QID33" class="" required  value="QID33A5" />
          <label for="QID33A5" class="flex items-center cursor-pointer text-l">
            
            The NYU campuses
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Choose your Avatar element?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID34A1" type="radio" name="QID34" class="" required  value="QID34A1" />
          <label for="QID34A1" class="flex items-center cursor-pointer text-l">
            
            Water
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID34A2" type="radio" name="QID34" class="" required  value="QID34A2" />
          <label for="QID34A2" class="flex items-center cursor-pointer text-l">
            
            Fire
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID34A3" type="radio" name="QID34" class="" required  value="QID34A3" />
          <label for="QID34A3" class="flex items-center cursor-pointer text-l">
            
            Earth 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID34A4" type="radio" name="QID34" class="" required  value="QID34A4" />
          <label for="QID34A4" class="flex items-center cursor-pointer text-l">
            
            Air
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID34A5" type="radio" name="QID34" class="" required  value="QID34A5" />
          <label for="QID34A5" class="flex items-center cursor-pointer text-l">
            
            Non-bender
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Which city would you most like to live in?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID35A1" type="radio" name="QID35" class="" required  value="QID35A1" />
          <label for="QID35A1" class="flex items-center cursor-pointer text-l">
            
            Berlin 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID35A2" type="radio" name="QID35" class="" required  value="QID35A2" />
          <label for="QID35A2" class="flex items-center cursor-pointer text-l">
            
            Seoul 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID35A3" type="radio" name="QID35" class="" required  value="QID35A3" />
          <label for="QID35A3" class="flex items-center cursor-pointer text-l">
            
            Paris 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID35A4" type="radio" name="QID35" class="" required  value="QID35A4" />
          <label for="QID35A4" class="flex items-center cursor-pointer text-l">
            
            New York 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID35A5" type="radio" name="QID35" class="" required  value="QID35A5" />
          <label for="QID35A5" class="flex items-center cursor-pointer text-l">
            
            City? I’m a cottage whore
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Pick a present to give your match</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID36A1" type="radio" name="QID36" class="" required  value="QID36A1" />
          <label for="QID36A1" class="flex items-center cursor-pointer text-l">
            
            A bouquet of roses
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID36A2" type="radio" name="QID36" class="" required  value="QID36A2" />
          <label for="QID36A2" class="flex items-center cursor-pointer text-l">
            
            A fancy journal
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID36A3" type="radio" name="QID36" class="" required  value="QID36A3" />
          <label for="QID36A3" class="flex items-center cursor-pointer text-l">
            
            Chicken nuggets
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID36A4" type="radio" name="QID36" class="" required  value="QID36A4" />
          <label for="QID36A4" class="flex items-center cursor-pointer text-l">
            
            A gift card
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID36A5" type="radio" name="QID36" class="" required  value="QID36A5" />
          <label for="QID36A5" class="flex items-center cursor-pointer text-l">
            
            Champagne
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Pick a Y2K aesthetic</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID37A1" type="radio" name="QID37" class="" required  value="QID37A1" />
          <label for="QID37A1" class="flex items-center cursor-pointer text-l">
            
            Matrix leather
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID37A2" type="radio" name="QID37" class="" required  value="QID37A2" />
          <label for="QID37A2" class="flex items-center cursor-pointer text-l">
            
            Low-rise jeans with thong
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID37A3" type="radio" name="QID37" class="" required  value="QID37A3" />
          <label for="QID37A3" class="flex items-center cursor-pointer text-l">
            
            Juicy Couture velour tracksuit
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID37A4" type="radio" name="QID37" class="" required  value="QID37A4" />
          <label for="QID37A4" class="flex items-center cursor-pointer text-l">
            
            Mall goth
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID37A5" type="radio" name="QID37" class="" required  value="QID37A5" />
          <label for="QID37A5" class="flex items-center cursor-pointer text-l">
            
            I just want 80’s nostalgia back
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Hottest major?</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID38A1" type="radio" name="QID38" class="" required  value="QID38A1" />
          <label for="QID38A1" class="flex items-center cursor-pointer text-l">
            
            English lit
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID38A2" type="radio" name="QID38" class="" required  value="QID38A2" />
          <label for="QID38A2" class="flex items-center cursor-pointer text-l">
            
            Physics
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID38A3" type="radio" name="QID38" class="" required  value="QID38A3" />
          <label for="QID38A3" class="flex items-center cursor-pointer text-l">
            
            Econ
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID38A4" type="radio" name="QID38" class="" required  value="QID38A4" />
          <label for="QID38A4" class="flex items-center cursor-pointer text-l">
            
            Law
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID38A5" type="radio" name="QID38" class="" required  value="QID38A5" />
          <label for="QID38A5" class="flex items-center cursor-pointer text-l">
            
            Philosophy
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Pick a woman from history</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID39A1" type="radio" name="QID39" class="" required  value="QID39A1" />
          <label for="QID39A1" class="flex items-center cursor-pointer text-l">
            
            Catherine the Great
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID39A2" type="radio" name="QID39" class="" required  value="QID39A2" />
          <label for="QID39A2" class="flex items-center cursor-pointer text-l">
            
            Queen Elizabeth I
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID39A3" type="radio" name="QID39" class="" required  value="QID39A3" />
          <label for="QID39A3" class="flex items-center cursor-pointer text-l">
            
            Boudicca
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID39A4" type="radio" name="QID39" class="" required  value="QID39A4" />
          <label for="QID39A4" class="flex items-center cursor-pointer text-l">
            
            Harriet Tubman
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID39A5" type="radio" name="QID39" class="" required  value="QID39A5" />
          <label for="QID39A5" class="flex items-center cursor-pointer text-l">
            
            Ching Shih
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >Write a Message/send a poem etc. to your match:</p>
        </div>
        <textarea class="shadow-md bg-gray-100 rounded border-gray-200 border-solid border-2" type="text" name="poem" style="margin-bottom:20px;padding:10px"rows="4"></textarea>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What type of PenPal are you looking for? </p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID42A1" type="radio" name="QID42" class="" required  value="QID42A1" />
          <label for="QID42A1" class="flex items-center cursor-pointer text-l">
            
            I want cutting critique 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID42A2" type="radio" name="QID42" class="" required  value="QID42A2" />
          <label for="QID42A2" class="flex items-center cursor-pointer text-l">
            
            Just some light feedback 
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID42A3" type="radio" name="QID42" class="" required  value="QID42A3" />
          <label for="QID42A3" class="flex items-center cursor-pointer text-l">
            
            More of a friend
          </label>
        </div>
        
        </div>
        
        <div class="bg-gray-900 text-white radios-top p-4">
          <p class="" >What are your thoughts on the Oxford comma</p>
        </div>
        <div class="bg-gray-100 radios-main mb-4 p-2 pl-4">
        <div class="flex items-center mr-4 mb-4">
          <input id="QID43A1" type="radio" name="QID43" class="" required  value="QID43A1" />
          <label for="QID43A1" class="flex items-center cursor-pointer text-l">
            
            Yay
          </label>
        </div>
        
        <div class="flex items-center mr-4 mb-4">
          <input id="QID43A2" type="radio" name="QID43" class="" required  value="QID43A2" />
          <label for="QID43A2" class="flex items-center cursor-pointer text-l">
            
            Nay 
          </label>
        </div>
        
        </div>
        
        
        
        
        
      <!--<input class="bg-gray-100 text-white p-2 h-10 mb-4" type="text" name="amount" placeholder="Amount">-->

      <div id="card-element" class="bg-gray-100 border-solid border-2 rounded border-gray-200 p-2 h-10 mb-4"></div>
      <div id="card-errors" role="alert"></div>
      <button class="text-white bg-purple-900 p-4 rounded">Submit Payment</button>
    </form>
  </div>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script src="card.js"></script>

</html>