input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    transform: scale(1.2);
    display:none;
}

input[type="radio"]:checked + label span,
input[type="checkbox"]:checked + label span{
    background-color: #3490DC;
    box-shadow: 0px 0px 0px 2px white inset;
}

.radios label {
    display: inline;
    width:40%;
}

.home-body {
    background-image: url('../images/NY2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.radios-top {
    background-color: #F7FAFC;
    border-radius: 0.25rem 0.25rem 0 0;
}
.radios-main {
    background-color: #F7FAFC;
    border-radius: 0 0  0.25rem 0.25rem;
}